.body {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #F4F7FA;
    padding: 3rem;
}

.body-trimmed {
    width: calc(100% - 16.5625rem); /* Ajusta según tus necesidades */
    margin-left: 16.5625rem; /* Ajusta según tus necesidades */
}

.body-md-screen {
    width: 100%;
    margin-left: 0;
}
