<div class="restorepwd-box">
    <h2>Restaurar Contraseña</h2>
    <form *ngIf="!loading" method="POST">
        <div class="user-box">
            <input type="text" [(ngModel)]="token" id = "token" name = "token" placeholder="Token"> <br><br>
        </div>
        <div class="user-box">
            <input type="{{ passwordVisible ? 'text' : 'password' }}" [(ngModel)]="password" id="password" name="password" size="25" placeholder="Contraseña" #passwordField> <br><br>
            <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i class="fa" [ngClass]="{'fa-eye': passwordVisible, 'fa-eye-slash': !passwordVisible}"></i>
            </span>
        </div>
        <button class="button" type="submit" id="button" (click)="restorePwd()">Cambiar Contraseña</button>
        <p class="signup-text">¿Aun no tienes una cuenta? <a routerLink="/sign">Registrate</a></p>
        <p class="signup-text">¿Olvidaste tu contraseña? <a routerLink="/requestPwd">Recupera tu contraseña</a></p>
        <p class="signup-text">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
    </form>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
